.App {
    display: flex;
    flex-direction: raw;
    background-color: #6523ff;
    width: 100%;
    height: 100%;
    position: absolute;
}

.App-tree-editor {
    display: flex;
    flex-direction: raw;
    background-color: #11052e;
    background-image: url(base-image.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 50%;
    height: 100%;
}

.App-leftPane {
    display: flex;
    flex-direction: column;
    background-color: #ffff;
    border-style: solid;
    border-color:#959ee1;
    width: 65%;
    height: 100%;
}
  
.App-rightPane {
    display: flex;
    flex-direction: column;
    background-color: #ffff;
    border-style: solid;
    border-color:#959ee1;
    width: 35%;
    height: 100%;
}

.App-leftPane-heading {
    font-family: Gilmer,sans-serif;
    text-align: left;
}

.App-rightPane-heading {
    font-family: Gilmer,sans-serif;
}

.App-rightPane-block {
    background-color: #fff;
    display: flex;
    position: relative;
    left: 5%;
    height: 25%;
    width: 100%;
    display: flex;
    position: relative;
}

.App-statement-template {
    height: 30%;
    background-color: #a3a7a8;
}

.App-shortcuts {
    width: 100%;
    background-color: #1c693a;
}

.App-context-sensitivePane {
    background-color: #fff;
    border-color: #b9bac1;
    border-radius: 20px;
    border-style: solid;
    display: flex;
    position: relative;
    left: 5%;
    height: 50%;
    width: 90%;
    top: 5%;
}

.App-statement-template-editor {
    position: relative;
    left: 5%;
    height: 25%;
    width: 90%;
    background-color: #fff;
    border-color: #959ee1;
    border-radius: 20px;
    border-style: solid;
    display: flex;
}

.App-expression-block {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 10%;
    left: 7%;
    height: fit-content;
    width: fit-content;
    color: #490cd6;
    margin-left: 10px;
}

.App-expression-block-disabled {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 15%;
    left: 5%;
    height: fit-content;
    width: fit-content;
    color: rgba(12, 11, 11, 0.63);
}

.App-expression-component {
    position: relative;
    left: 5%;
    top: 10%;
    background-color: #a3a7a8;
    color: #490cd6;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin-left: 10px;
    padding: unset;
    height: 30px;
    border-radius: unset;
    border-style: solid;
    border-color: #9b9fa0;
    margin-top: unset;
}

.App-expression-component-active {
    color: #2f068f;
}

.App-expression-component:hover {
    background-color: #a3a7a8;
    color: #2f068f;
}

button {
    background-color: #637a68;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    margin-left: 20px;
    margin-top: 20px;
    /* border-style: solid */
}

button:hover {
    background-color: #48584b;
    color: white;
}

h1 {
    padding-left: 25px;
    color: #010611;
}

h2 {
    padding-left: 25px;
    color: #010611;
}

h3 {
    padding-left: 25px;
    color: #010611;
}
  