.App {
    display: flex;
    flex-direction: raw;
    background-color: #6523ff;
    width: 100%;
    height: 100%;
    position: absolute;
}

.App-tree-editor {
    display: flex;
    flex-direction: raw;
    background-color: #11052e;
    width: 49%;
    height: 87%;
    z-index: 1;
    position: absolute;
    left: 51%;
    top: 13%;
}

.App-leftPane {
    display: flex;
    flex-direction: column;
    background-color: #f7f8fb;
    width: 60%;
    height: 100%;
}
  
.App-rightPane {
    display: flex;
    flex-direction: column;
    background-color: #f7f8fb;
    width: 40%;
    height: 100%;
}

.App-leftPane-heading {
    font-family: Gilmer,sans-serif;
    text-align: left;
}

.App-rightPane-heading {
    font-family: Gilmer,sans-serif;
}

.App-rightPane-block {
    background-color: #f7f8fb;
    display: flex;
    position: relative;
    left: 5%;
    height: 25%;
    width: 100%;
    display: flex;
    position: relative;
}

.App-statement-template {
    height: 30%;
    background-color: #a3a7a8;
}

.App-shortcuts {
    width: 100%;
    background-color: #1c693a;
}

.App-context-sensitivePane {
    background-color: #f7f8fb;
    border-color: #b9bac1;
    border-radius: 20px;
    border-style: solid;
    display: flex;
    position: relative;
    left: 5%;
    height: 50%;
    width: 90%;
    top: 5%;
}

.App-suggestion-block {
    background-color: #f7f8fb;
    display: inline-block;
    position: relative;
    left: 5%;
    height: 50%;
    width: 90%;
    top: 5%;
}

.App-statement-template-editor {
    position: relative;
    left: 5%;
    height: 25%;
    width: 90%;
    background-color: #f7f8fb;
    border-color: #959ee1;
    border-radius: 20px;
    border-style: solid;
    display: flex;
}

.App-expression-block {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 10%;
    left: 7%;
    height: fit-content;
    width: fit-content;
    color: #490cd6;
    margin-left: 10px;
}

.App-expression-block-disabled {
    display: flex;
    flex-direction: column;
    position: relative;
    color: rgba(12, 11, 11, 0.63);
}

.gPhjAr-root {
    width: 100%;
}


.gPhjAr {
    width: 80%;
    display: flex;
    overflow: auto;
    -webkit-box-align: center;
    /* align-items: center; */
    border: 1px solid rgb(90, 178, 242);
    box-sizing: border-box;
    border-radius: 0.4rem;
    height: 50px;
    padding-left: 1.2rem;
}

.App-expression-component {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 5%;
    top: 10%;
    background-color: #cccfcf;
    color: #1c0455;
    text-align: center;
    font-size: 14px;
    margin-left: 10px;
    padding: unset;
    height: 30px;
    border-radius: unset;
    border-style: solid;
    border-color: #9b9fa0;
    margin-top: unset;
}

.App-expression-component-active {
    color: #2f068f;
}

.App-expression-component:hover {
    background-color: #a3a7a8;
    color: #2f068f;
}

.closure-button {
    background-color: #637a68;
    color: white;
    padding: 15px 10px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    margin-left: 20px;
    margin-top: 20px;
    height: fit-content;
    width: fit-content;
    position: absolute;
    top: 85%;
    border-color: #808bc7;
    border-style: solid;
}

.suggestion-buttons {
    padding: 6px 16px;
    font-size: 0.875rem;
    min-width: 64px;
    box-sizing: border-box;
    border-color:  #808bc7;
    border-style: solid;
    /* transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms; */
    font-family: Gilmer;
    font-weight: 500;
    line-height: 1.75;
    height: 40px;
    margin-left: 2%;
    margin-top: 6%;
}

.closure-button-cancel {
    left: 70%;
    background-color: #f7f8ff;
    color: #11052e;
}

.closure-button-save {
    left: 80%;
    background-color: #d5d8f0;
}

button:hover {
    background-color: #5567D5;
    color: white;
}

.vl {
    border-left: 3px solid #959ee1;
    height: 85%;
    position: absolute;
    left: 60%;
    margin-left: -3px;
    top: 2%;
}

h1 {
    padding-left: 25px;
    color: #010611;
}

h2 {
    padding-left: 25px;
    color: #010611;
}

h3 {
    padding-left: 25px;
    color: #010611;
}
  